@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using $safeprojectname$.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>



@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <DataGrid TItem="WeatherForecast"
          Data="@forecasts"
          @bind-SelectedRow="@selected"
          Responsive>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(WeatherForecast.Date)" Caption="Date" Sortable="false" />
        <DataGridColumn Field="@nameof(WeatherForecast.TemperatureC)" Caption="Temp. (C)" Editable />
        <DataGridColumn Field="@nameof(WeatherForecast.TemperatureF)" Caption="Temp. (F)" Editable />
        <DataGridColumn Field="@nameof(WeatherForecast.Summary)" Caption="Summary" Editable />

    </DataGrid>

    @if (selected != null)
    {
        <p>@($"{selected.Date.ToLongDateString()}")</p>
        <p>@($"{selected.TemperatureC} ℃")</p>
        <p>@($"{selected.TemperatureF} ℉")</p>
    }
}

@code {
    private WeatherForecast[]? forecasts;

    private WeatherForecast selected;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        await base.OnInitializedAsync();
    }


}
